body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

ol {
  background-color: yellow,
}

.heading {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: grey;
  padding: 1.5 rem;
}

h1 {
  color: whitesmoke;
  padding: 1.5 rem;
}

.content {
  padding: 1.5rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  align-content: center;
  margin: auto;
}

.todo-item {
  padding: 10px;
  color: grey;
  /* background-color: grey; */
  margin: 10px;
  border-bottom: 1px solid grey;
}